.navbar-wrapper {
  min-height: 90px;
  display: flex;
  /* align-items: center; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.brand-logo {
  width: 152px;
}

.navbar {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  height: 100%;
}
.navbar-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-link:hover .navbar-dropdown {
  opacity: 1;
  transform: translateY(-6px);
  pointer-events: visible;
}

.navbar-dropdown {
  position: absolute;

  background: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(0 0 0 / 15%) 0px 5px 25px 0px,
    rgb(0 0 0 / 5%) 0px 3px 3px 0px;
  left: -6px;
  list-style: none;
  margin: 0px;
  opacity: 0;
  padding: 16px;
  pointer-events: none;
  position: absolute;
  top: 80%;
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
    transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  will-change: opacity, transform;
  z-index: 10;

  min-width: 642px;
}

.navbar-dropdown.columns-2 {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.navbar-dropdown:hover .dropdown-item {
  will-change: opacity;
  transition: opacity 0.2s ease-in 0s;
  opacity: 0.65;
}

.navbar-dropdown:hover .dropdown-item:hover {
  opacity: 1;
}

.dropdown-item {
  color: rgb(85, 101, 117);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;

  gap: 16px;
}

.dropdown-item img {
  width: 48px;
  height: 48px;
}

.dropdown-item-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navbar-link.dropdown-icon:after {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  content: "";
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  pointer-events: none;
  width: 4px;
  height: 4px;
  transition: all 0.15s ease 0s;
  vertical-align: middle;
  transform: rotate(135deg);
  top: -2px;
  left: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}

.navbar-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
