.navbar-wrapper {
  min-height: 90px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.brand-logo {
  width: 152px;
}

.navbar {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.navbar-link.dropdown-icon:after {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  content: "";
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  pointer-events: none;
  width: 4px;
  height: 4px;
  transition: all 0.15s ease 0s;
  vertical-align: middle;
  transform: rotate(135deg);
  top: -2px;
  left: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
