/* Graphik Fonts */
@font-face {
  font-family: "GraphikRegular";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikRegular.otf);
}
@font-face {
  font-family: "GraphikMedium";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikMedium.otf);
}
@font-face {
  font-family: "GraphikBold";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikBold.otf);
}
@font-face {
  font-family: "GraphikBlack";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikBlack.otf);
}
@font-face {
  font-family: "GraphikLight";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikLight.otf);
}
@font-face {
  font-family: "GraphikExtralight";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikExtralight.otf);
}
@font-face {
  font-family: "GraphikSemibold";
  src: url(./assets/fonts/Graphik-Font-Family/GraphikSemibold.otf);
}

.graphik-extra-light {
  font-family: "GraphikExtralight";
}
.graphik-light {
  font-family: "GraphikLight";
}
.graphik-black {
  font-family: "GraphikBlack";
}
.graphik-semibold {
  font-family: "GraphikSemibold";
}
.graphik-bold {
  font-family: "GraphikBold";
}
.graphik-medium {
  font-family: "GraphikMedium";
}
.graphik-regular {
  font-family: "GraphikRegular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: "GraphikRegular";
}

:root {
  font-size: 100%;

  /* font-sizes */
  --fs-48px: 48px;
  --fs-21px: 21px;
  --fs-12px: 12px;
  --fs-16px: 16px;
  --fs-10px: 10px;
  --fs-30px: 30px;
  --fs-36px: 36px;
  --fs-24px: 24px;
  --fs-18px: 18px;
  --fs-15px: 15px;
  --fs-14px: 14px;

  /* colors */
  --clr-light-blue: rgb(85, 101, 117);
  --clr-dark-blue: rgb(49, 67, 81);
  --clr-darkest-blue: rgb(29, 43, 54);
  --clr-sharp-blue: rgb(18, 146, 238);
  --clr-blue: rgb(0, 119, 204);
  --gray: rgb(147, 161, 176);
}

.App {
  background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    ),
    linear-gradient(90deg, rgb(242, 246, 255) 0%, rgba(242, 246, 255, 0) 50%);
  height: 100vh;
}

/* font-sizes */
.fs-14px {
  font-size: var(--fs-14px);
}
.fs-15px {
  font-size: var(--fs-15px);
}
.fs-18px {
  font-size: var(--fs-18px);
}
.fs-24px {
  font-size: var(--fs-24px);
}
.fs-36px {
  font-size: var(--fs-36px);
}
.fs-30px {
  font-size: var(--fs-30px);
}
.fs-10px {
  font-size: var(--fs-10px);
}
.fs-16px {
  font-size: var(--fs-16px);
}
.fs-12px {
  font-size: var(--fs-12px);
}
.fs-21px {
  font-size: var(--fs-21px);
}
.fs-48px {
  font-size: var(--fs-48px);
}

/* colors */
.white {
  color: white;
}
.light-blue {
  color: var(--clr-light-blue);
}
.dark-blue {
  color: var(--clr-dark-blue);
}
.darkest-blue {
  color: var(--clr-darkest-blue);
}
.sharp-blue {
  color: var(--clr-sharp-blue);
}
.blue {
  color: var(--clr-blue);
}
.bg-sharp-blue {
  background-color: var(--clr-sharp-blue);
}
.gray {
  color: var(--gray);
}

/* configurations */
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}

/* css snippets */
.container-wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1280px;
  padding: 0px 15px;
}

.overline {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.07em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  color: rgb(85, 101, 117);
  margin-bottom: 10px;
}

.bg-content {
  background: linear-gradient(
      0deg,
      rgba(242, 246, 255, 0) 0%,
      rgb(242, 246, 255) 100%
    ),
    rgb(255, 255, 255);
}

.hovered-link {
  transition: all 0.15s ease-in-out 0s;
}

.hovered-link:hover {
  color: white;
}

ul {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* font-weights */
.weight-9 {
  font-weight: 900;
}
.weight-8 {
  font-weight: 800;
}
.weight-7 {
  font-weight: 700;
}
.weight-6 {
  font-weight: 600;
}
.weight-5 {
  font-weight: 500;
}
.weight-4 {
  font-weight: 400;
}
.weight-3 {
  font-weight: 300;
}

/* border radiuses */
.radius-4px {
  border-radius: 4px;
}

/* buttons */
.button-wrapper {
  padding: 13px 22px;
  line-height: 100%;
}

/* paddings */
.pt-90px {
  padding-top: 90px;
}

/* line-heights */
.lh-2 {
  line-height: 1.8;
}

/* margins */
.my-150px {
  padding-top: 150px;
  padding-bottom: 150px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}

/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ===================================================== CSS ============================================================= */
/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ======================================================================================================================= */

.section {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 94px;
  justify-content: space-between;
  margin-bottom: 90px;
}

.section-left {
  flex: 1;
  max-width: 505px;
}
.section-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-input-wrapper {
  display: flex;
}

.hero-input-wrapper input {
  flex: 1;
  height: 52px;
  line-height: 24px;

  background: white;
  border-radius: 4px;
  border: 1px solid rgb(165, 178, 189);
  color: rgb(37, 54, 66);
  display: block;
  font-size: 15px;
  line-height: 24px;
  padding: 0px 12px;
  outline: 0px;
  font-family: Graphik, Helvetica, Arial, sans-serif !important;

  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hero-input-wrapper button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hero-badges {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-badges-left img {
  width: 100%;
}

.hero-badges-right {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-left: 1px solid rgb(214, 214, 214);
  height: 80px;
}

.hero-video {
  max-width: 700px;
  min-width: 0px;
  box-shadow: rgb(22 51 127 / 20%) 0px 40px 50px;
  border-radius: 6px;
  /* margin-right: -100px; */
}

/* companies */
.companies {
  padding-bottom: 160px;
}
.companies-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.companies-images img {
  width: 138px;
}

/* cards-title */
.cards-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 80px; */
}

.cards-title::before {
  background-image: url(./assets/images/title-animation-left.gif);
  background-position: center center;
  background-size: 100%;

  content: "";
  width: 75px;
  height: 111px;

  text-align: center;
}
.cards-title::after {
  background-image: url(./assets/images/title-animation-right.gif);
  background-position: center center;
  background-size: 100%;

  content: "";
  width: 75px;
  height: 111px;

  text-align: center;
}

/* resources-cards */
.resources-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-top: 80px;
}

.resources-wrapper {
  margin-top: 100px;
  padding: 100px 0;
}

/* help-scout */
.help-scout-wrapper {
  position: relative;
  z-index: 4;
}
.help-scout-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background: url(./assets/images/clouds.webp);
  background-repeat: no-repeat;
}

.help-scout-wrapper::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 500ms ease 0s;
  background: url(./assets/images/help=scout-img.webp);
  background-repeat: no-repeat;
  background-position-x: right !important;
  background-position-y: bottom !important;
  background-size: 700px;

  z-index: 3;
}
.help-scout {
  margin-left: 8.33333%;
  width: 50%;
  padding: 0px 15px;

  position: relative;
  z-index: 100;
}

/* footer-wrapper */
.footer-wrapper {
  background: rgb(29, 43, 54);
  padding: 80px 0px 24px;
}

.footer {
  display: flex;
}

.footer-title-box {
  border-bottom: none;
  flex: 0 0 25%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.footer-title-box-title {
  display: block;
  padding-right: 40px !important;
}

.footer-box {
  flex: 0 0 18.75%;
  padding-bottom: 48px;
}
